<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Log in!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body>

		<!--CONTENT -->
		<section>
			<div class="container d-flex flex-column">
				<div class="row align-items-center justify-content-center gx-0 min-vh-100">
					<div
						class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

						<!-- Heading -->
						<h1 class="mb-0 fw-bold">
							Ouvrir une session
						</h1>

						<!-- Text -->
						<p class="mb-6 text-muted">
							Administration du site internet
						</p>

						<form method="post" class="mb-6">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									You are logged in as
									{{ app.user.username }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}

							<label for="inputEmail">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							<label for="inputPassword">Password</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<button class="btn w-100 btn-primary mt-4" type="submit">
								Ouvrir une session
							</button>
							<a class="btn btn-info mt-4" href="{{ path('app_register') }}" role="button">Créer un compte</a>
							<a class="btn btn-info mt-4" href="{{ path('home') }}" role="button">Accueil</a>
						</form>

					</div>
					<div
						class="col-lg-7 offset-lg-1 align-self-strech d-done d-lg-block">

						<!-- Image -->
						<div class="h-100 w-cover bg-cover" style="background-image: url(assets/img/crewdragon3.jpg)"></div>

						<!-- Shape -->
						<div class="shape shape-start shape-fluid-y svg-shim text-white">
							<svg viewbox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h100v386l-50"></div>

							</div>
						</div>
						<!-- / .row -->
					</div>
					<!-- / .container -->
				</section>


				{% block name %}
					{{ encore_entry_script_tags('app') }}
				{% endblock %}
			</body>
		</html>
	</body>
</html>
