<section class="pb-8 pt-7 mt-4 mb-4 pb-mb-11 pt-mb-10">
	<h1 class="display-4">Les derniers articles !</h1>

	{% for article in articles %}
		<div class="container">
			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col">
					<div class="card">
						<img src="/img/crewdragon1.jpg" class="card-img-top" alt="...">
						<div class="card-body">

							<h5 class="card-title">
								{{ article.titre }}
							</h5>

							<p class="card-text text-muted">
								{{ article.contenu|u.truncate(200, '...', false) }}
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</section>
