{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% include 'home/welcome.html.twig' %}
    {% include 'home/article.html.twig' %}
    {% include 'home/newquestionnaire.html.twig' %}
{% endblock %}
