<section class="pb-8 pt-7 mt-4 mb-4 pb-mb-11 pt-mb-10">
	<h1 class="display-4">Les derniers questionnaires</h1>


	{% for questionnaire in questionnaires %}

		<div class="container">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="/img/crewdragon3.jpg" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">
								{{ questionnaire.nom }}

							</h5>
							<p class="card-text">
								{{ questionnaire.type|u.truncate(150, '...', false) }}
							</p>
							<p class="card-text">
								<small class="text-muted">Publié le
									{{ questionnaire.date|date('d/m/Y') }}</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</section>
