<section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax" style="background-image: url(/img/crewdragon3.jpg); height: 34em">

	<div class="container">
		<div class="row justify-content-center">
			<div
				class="col-12 col-md-10 col-lg-8 text-center">

				<!--Heading-->
				<h1 class="display-2 text-white">
					Univers Toi
				</h1>

				<!--Text-->
				<p class="lead text-white mb-6">
					Touche du doigt l'infini
				</p>

				<!--Button-->
				<a href="{{ path('articles') }}" class="btn btn-primary lift">
					Découvre ton premier saut spatial
					<i class="fe fe-arrow-right ms-3"></i>
				</a>

			</div>
		</div>

	</div>
	<!-- / .container -->
</section>
