{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<section>
		<div class="container d-flex flex-column">
			<div class="row align-items-center justify-content-center gx-0 min-vh-100">
				<div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

					<h1 class="mb-0 fw-bold">Créer un compte</h1>

					<p class="mb-6 text-muted">
						Administration du site internet
					</p>

					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.prenom) }}
					{{ form_row(registrationForm.nom) }}
					{{ form_row(registrationForm.telephone) }}
					{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
					{{ form_row(registrationForm.agreeTerms) }}

					<button type="submit" class="btn">Register</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</section>
	{% endblock %}
