<footer>
    <div class="container-fluid bg-light">
      <div class="row">
        <div class="col-sm-3">
          <p>
            
            <a class="text-muted" href="{{ path('home') }}">UniversToi</a>
          </p>
          <p>
            
            <a class="text-muted" href="{{ path('apropos') }}">A propos</a>
          </p>
          <small class="d-block mb-3 text-muted">&copy; Carlos 2021</small>
        </div>
        <div class="col-sm-3">
          <h5>
            Thèmes abordés dans les articles
          </h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Système solaire</a></li>
            <li><a class="text-muted" href="#">Le voisinage</a></li>
            <li><a class="text-muted" href="#">Les galaxies</a></li>
            <li><a class="text-muted" href="#">Exploration spatiale</a></li>
            <li><a class="text-muted" href="#">Les distances</a></li>
          </ul>
        </div>
        
        <div class="col-sm-3">
          <h5>
            Les catégories de questionnaire
          </h5>
          <ul class="list-unstyled text-align-center">
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Les planètes
              </a>
            </li>
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Les étoiles
              </a>
            </li>
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Les galaxies
              </a>
            </li>
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Le système solaire
              </a>
            </li>
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                L'exploration spaciale
              </a>
            </li>
            <li>
              <img src="https://img.icons8.com/color/20/000000/checked--v1.png"
                style="margin-right:10px" /><a class="text-muted" href="#">
                Les instruments de l'astronomie
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>
            Contact
          </h5>
          <ul class="list-unstyled text-small">
            <li>
            <img src="https://img.icons8.com/color/20/000000/apple-mail.png"/>
            <a class="text-muted" href="#">Nous contacter</a></li>
            <li>
              <img src="https://img.icons8.com/fluent/20/000000/instagram-new.png" href="#">
              <a class="text-muted" href="#">Instagram</a>
            </li>
            <li>
            <img src="https://img.icons8.com/color/20/000000/facebook.png" href="#">
            <a class="text-muted" href="#">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    {# Icones couleurs #}
    <a href="https://icons8.com/icon/63262/vérifié"></a>
  </footer>