<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home') }}">
			<img src="/img/logo.jpg" class="navbar-brand-img" alt="...">
		</a>
		<a class="navbar-brand" href="{{ path('home') }}">UniversToi</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Articles</a>
					<ul class="dropdown-menu" aria-labelledby="navbarAccount">
						<li class="dropdown-item dropend">
							<a class="nav-link" href="{{ path('articles') }}">
								Derniers articles
							</a>
						</li>

						<li class="dropdown-item dropend">
							<a class="nav-link" href="#">
								Système solaire
							</a>
						</li>
						<li class="dropdown-item dropend">
							<a class="nav-link" href="#">
								Le voisinage
							</a>
						</li>
						<li class="dropdown-item dropend">
							<a class="nav-link" href="#">
								Les galaxies
							</a>
						</li>
						<li class="dropdown-item dropend">
							<a class="nav-link" href="#">
								Exploration spatiale
							</a>
						</li>
						<li class="dropdown-item dropend">
							<a class="nav-link" href="#">
								Les distances
							</a>
						</li>

					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('questionnaires') }}">Questionnaires</a>
				</li>
				<li
					class="nav-item dropdown">
					{# <a class="nav-link dropdown-toggle" id="navbarAccount" data-bs-toggle="dropdown">
																																														Galerie
																																</a>
																																	<ul class="dropdown-menu" aria-labelledby="navbarAccount">
																																			{% for categorie in categorieNavbar() %}
																																				<li class="dropdown-item dropend">
																																					<a href="{{ path('categorie_categorie', {'slug': categorie.slug}) }}">
																																				</li>
																																	{% endfor %}
																																	</ul> #}
					<a class="nav-link" href="{{ path('galerie') }}">Galerie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('apropos') }}">A Propos</a>
				</li>
				{% if app.user %}
					<li class="nav-item">

						<a class="nav-link" href="#">Bonjour
							{{ app.user.username }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>

				{% else %}
					<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
				{% endif %}
			</li>


		</ul>
	</div>
</div></nav>
