{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}
<section data-jarallax data-speed=".8" class="py-15 overlay overlay-black overlay-60 jarallax" style="background-image: url(/img/crewdragon3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <blockquote class="blockquote mb-0">
                    <p class="h2 text-black">
                        Texte à écrire : Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Curabitur consectetur sem nec tempus faucibus. Donec varius felis vel nibh feugiat, quis congue lorem tempus. 
                        Morbi lobortis felis eu eros convallis auctor. Nam consequat metus sit amet ipsum condimentum bibendum. 
                        Phasellus ipsum mi, lobortis sed placerat non, suscipit vel tellus. 
                        Donec convallis tellus eu nisi auctor, ac interdum libero ultricies. 
                        Donec varius lacus sit amet lobortis tincidunt. Donec dolor lacus, auctor eget semper id, posuere a dolor. 
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec semper varius malesuada. 
                        Proin id lectus a odio fermentum imperdiet.
                    </p>
                    <footer class="blockquote-footer text-black-50 mb-0">
                        Votre administrateur
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>

</section>
{% endblock %}
