{% extends 'base.html.twig' %}

{% block body %}

	<section class="pt-12 pt-md-14 pb-12 pb-md-15 bg-gray-900">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-7 text-center">
					<h1 class="display-2 text-black">
						Photos de la catégorie
					</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="col-12 col-3 mt-5 d-flex justify-content-evenly mb-5">
		{% for photo in photos %}
			<div class="card border-info" style="width: 18rem;">
				<a href="#" class="card-img-top">
					<img class="card-img-top" src="/img/soleil.jpg" alt="..."/>

					<div href="#" class="card-body">
						<h4>
							photo
							{{ photo.nom }}
						</h4>
						<p class="mb-0 text-muted">
							{{ photo.description|u.truncate(200, '...', false) }}
						</p>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>


	<div class="d-flex justify-content-center">
		{% do photos.setPageRange(2) %}
		{{ knp_pagination_render(photos, 'base/pagination.html.twig') }}
	</div>

{% endblock %}
