{% extends 'base.html.twig' %}

{% block body %}

	<section class="pt-12 pt-md-14 pb-12 pb-md-15 bg-gray-900">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-7 text-center">
					<h1 class="display-2 text-black">
						Galerie
					</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="col-12 col-6 mt-5 d-flex justify-content-evenly mb-5">
		{% for categorie in categories %}
			{% set img = categorie.photoGaleries|last %}
			<div class="card border-info" style="width: 18rem;">
				<a href="{{ path('categorie_categorie', {'slug': categorie.slug}) }}" class="card-img-top">
					<img class="card-img-top" src="img/soleil.jpg" alt="..."/>

					<div href="#!" class="card-body">
						<h4>
							{{ categorie.nom }}
						</h4>
						<p class="mb-0 text-muted">
							{{ categorie.description|u.truncate(200, '...', false) }}
						</p>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="d-flex justify-content-center">
		{% do categories.setPageRange(2) %}
		{{ knp_pagination_render(categories, 'base/pagination.html.twig') }}
	</div>

{% endblock %}
