{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}


{% block body %}

	<section class="pt-12 pt-md-14 pb-12 pb-md-15 bg-gray-900">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-7 text-center">
					<h1 class="display-2 text-black">
						Les derniers articles
					</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="col-12 col-3 mt-5 d-flex justify-content-evenly mb-5">
		{% for article in articles %}
			<div class="card shadow-light-lg lift lift-lg m-2">
				<a href="#!" class="card-body my-auto">
					<h3 class="mt-auto">
						{{ article.titre }}
					</h3>
					<p class="mb-0 text-muted">
						{{ article.contenu|u.truncate(200, '...', false) }}
					</p>
				</a>
				<a href="#!" class="card-meta">
					<hr class="card-meta-divider">
					<p class="h6 text-uppercase text-muted mb-0 ms-auto">
						<time>Ajouté le
							{{ article.date|date('d/m/Y') }}</time>
					</p>
				</a>
			</div>
		{% endfor %}
	</div>
	<div>
		<div class="d-flex justify-content-center">
			{% do articles.setPageRange(2) %}
			{{ knp_pagination_render(articles, 'base/pagination.html.twig') }}
		</div>
	</div>
{% endblock %}
