{% extends 'base.html.twig' %}


{% block body %}

	<section class="pt-12 pt-md-14 pb-12 pb-md-15 bg-gray-900">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-7 text-center">
					<h1 class="display-2 text-black">
						Les derniers questionnaires
					</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="col-12 col-3 mt-5 d-flex justify-content-evenly mb-5">
		{% for questionnaire in questionnaires %}
			<div class="card border-info" style="width: 18rem;">
				<a href="#" class="card-img-top">
					<img src="/img/soleil.jpg" class="card-img-top" alt="...">
				</a>
				<div>
					<a href="#!" class="card-body">
						<div>
							<h3>
								{{ questionnaire.nom }}
							</h3>
						</div>
						<div>
							<p class="mb-0 text-muted">
								{{ questionnaire.type|u.truncate(200, '...', false) }}
							</p>
						</div>
					</a>
				</div>
				<a href="#" class="card-meta mt-auto">
					<hr class="card-meta-divider">
					<p class="h6 text-uppercase text-muted mb-1 ms-auto">
						<time>Ajoutée le
							{{ questionnaire.date|date('d/m/Y') }}
						</time>
					</p>
				</a>
			</div>

		{% endfor %}
	</div>

</div>
<div class="d-flex justify-content-center">
	{% do questionnaires.setPageRange(2) %}
	{{ knp_pagination_render(questionnaires, 'base/pagination.html.twig') }}
</div></div></section>{% endblock %}
